@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$blue: #7289da;
$grey: #99aab5;
$lighterBlack: #2c2f33;
$darkBlack: #23272a;
$green: #43b581;

* {
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin-left: 290px;
}